*/.idea/
.idea/
*.iml

*~
.*.swp
.DS_Store
hs_err_pid*.log

.checkstyle
.pmd
.pmdruleset.xml
interpolated-pom.xml
dependency-reduced-pom.xml

target/
build/

.classpath
.project
.settings
bin/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
